.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    h2{
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    // flex-direction: column;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    img{
        width: 30%;
    }
    &:hover{
        background: rgb(239, 211, 255);
    }
}

.song-description {
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}