.library {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    h2{
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    // flex-direction: column;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    img{
        width: 30%;
    }
    &:hover{
        // background: rgb(245, 228, 255);
        background: -webkit-linear-gradient(to right, #ffe2cf, #ffc3c9, #d2baff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffe2cf, #ffc3c9, #d2baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.song-description {  
  
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.8rem;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: white
}

::-webkit-scrollbar-thumb {
    // background: #9e9e9e;
    background: #d2baff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffe2cf, #ffc3c9, #d2baff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe2cf, #ffc3c9, #d2baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: transparent;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.selected{
        background: -webkit-linear-gradient(to right, #ffe2cf, #ffc3c9, #d2baff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffe2cf, #ffc3c9, #d2baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}